<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand m-auto" href="#">App Clientes</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <app-alta-cliente></app-alta-cliente>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-listado-clientes></app-listado-clientes>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-eliminar-cliente></app-eliminar-cliente>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-modificar-cliente></app-modificar-cliente>
    </div>
  </div>
</div>
